In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
raw_data_path = r'C:\Users\ANDRE\Desktop\Gladys (19 - 22)\raw data'
raw_data_path = raw_data_path.replace('\\','/')

In [3]:
os.listdir(raw_data_path)

['GRACU_DM_HTA_X_FECHAS.xlsx']

In [4]:
df = pd.read_excel(raw_data_path+'/GRACU_DM_HTA_X_FECHAS.xlsx', sheet_name=None)

In [5]:
df.keys()

dict_keys(['111', '112', '113', '114', '115', '116', '118', '119', '120', '121', '123', '126', '134', '373', '418', '510', '513', '698'])

In [6]:
df = pd.concat(df.values(), ignore_index=True)

In [7]:
df.shape

(74383, 13)

#  1. Evaluando individualidad pacientes

In [8]:
df[['PACIENTE','DOC_PACIENTE','AUTOGENERADO']].nunique()

PACIENTE        27332
DOC_PACIENTE    23262
AUTOGENERADO    23343
dtype: int64

In [9]:
# Cantidad de 'AUTOGENERADO' por 'DNI'

In [10]:
dni_cntAutogenerado = df.groupby('DOC_PACIENTE',as_index=False).AUTOGENERADO.nunique()

In [11]:
dni_de_variosAutogenerados = dni_cntAutogenerado[dni_cntAutogenerado.AUTOGENERADO >= 2][['DOC_PACIENTE']]

In [12]:
dni_de_variosAutogenerados['cnt_autogenerado_xDNI'] = range(1, len(dni_de_variosAutogenerados) + 1)
dni_de_variosAutogenerados['cnt_autogenerado_xDNI'] = 'Numero_'+ dni_de_variosAutogenerados['cnt_autogenerado_xDNI'].astype(str)

In [13]:
dni_de_variosAutogenerados.head(2)

     DOC_PACIENTE cnt_autogenerado_xDNI
109       1235803              Numero_1
290       2845283              Numero_2

In [14]:
df.head(2)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F
0,111,123.0,25120054,ABAL DE MARTINEZ NARCISA,3501020ALMTN004,F,83,NaN,HTA,2019-03-26,NaT,NaT,NaT
1,111,418.0,23877208,ABAL ESPINOZA TOMAS,3809181ALEIT001,M,80,DM,NaN,2019-09-02,NaT,NaT,NaT

In [15]:
df = df.merge(dni_de_variosAutogenerados, on='DOC_PACIENTE',how='left')

In [16]:
varios_autogenerado_xDNI = df[df.cnt_autogenerado_xDNI.notnull()]

In [17]:
varios_autogenerado_xDNI.head(2)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F,cnt_autogenerado_xDNI
223,111,418.0,23812077,AGUILAR VDA DE CACERES MARIA,4010110AICEM009,F,78,NaN,HTA,2019-06-05,NaT,NaT,NaT,Numero_12
228,111,418.0,23812077,AGUILAR XXX VDA DE CACERES MARIA ROSARIO,4010060AICEM006,F,80,NaN,HTA,NaT,NaT,2021-03-01,NaT,Numero_12

In [18]:
# Cantidad 'DNI' por 'AUTOGENERADO'

In [19]:
autogenerado_cntDNI = df.groupby('AUTOGENERADO',as_index=False).DOC_PACIENTE.nunique()

In [20]:
autogenerado_de_variosDNI = autogenerado_cntDNI[autogenerado_cntDNI.DOC_PACIENTE >= 2][['AUTOGENERADO']]

In [21]:
autogenerado_de_variosDNI['cnt_dni_xAUTOGENERADO'] = range(1, len(autogenerado_de_variosDNI) + 1)
autogenerado_de_variosDNI['cnt_dni_xAUTOGENERADO'] = 'Numero_'+ autogenerado_de_variosDNI['cnt_dni_xAUTOGENERADO'].astype(str)

In [22]:
autogenerado_de_variosDNI

       AUTOGENERADO cnt_dni_xAUTOGENERADO
42  0710111RBAND007              Numero_1

In [23]:
df = df.merge(autogenerado_de_variosDNI, on='AUTOGENERADO', how='left')

In [24]:
varios_dni_xAutogenerado = df[df.cnt_dni_xAUTOGENERADO.notnull()]

In [25]:
varios_dni_xAutogenerado

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F,cnt_autogenerado_xDNI,cnt_dni_xAUTOGENERADO
14182,111,NaN,3003720,RUMBOS ARANGUIBEL DIEGO,0710111RBAND007,M,11,DM,NaN,2019-08-13,NaT,NaT,NaT,NaN,Numero_1
14183,111,NaN,122705672,RUMBOS ARANGUIBEL DIEGO ALEXANDER,0710111RBAND007,M,13,DM,NaN,NaT,NaT,2021-03-31,NaT,NaN,Numero_1
14184,111,NaN,122705672,RUMBOS ARANGUIBEL DIEGO ALEXANDER,0710111RBAND007,M,14,DM,NaN,NaT,NaT,2021-12-06,NaT,NaN,Numero_1
14185,111,NaN,3003720,RUMBOS ARANGUIBEL DIEGO ALEXANDER,0710111RBAND007,M,14,DM,NaN,NaT,NaT,NaT,2022-01-18,NaN,Numero_1
38125,126,NaN,3003720,RUMBOS ARANGUIBEL DIEGO,0710111RBAND007,M,11,DM,NaN,2019-06-18,NaT,NaT,NaT,NaN,Numero_1

In [26]:
# Cantidad de 'PACIENTES' por 'DNI'

In [27]:
dni_cntPACIENTE = df.groupby('DOC_PACIENTE',as_index=False).PACIENTE.nunique()

In [28]:
dni_de_variosPACIENTE = dni_cntPACIENTE[dni_cntPACIENTE.PACIENTE >= 2][['DOC_PACIENTE']]

In [29]:
dni_de_variosPACIENTE['cnt_paciente_xDNI'] = range(1, len(dni_de_variosPACIENTE)+1)
dni_de_variosPACIENTE['cnt_paciente_xDNI'] = 'Numero_' + dni_de_variosPACIENTE['cnt_paciente_xDNI'].astype(str)

In [30]:
dni_de_variosPACIENTE.head(3)

    DOC_PACIENTE cnt_paciente_xDNI
4          25248          Numero_1
15        122159          Numero_2
16        164309          Numero_3

In [31]:
df.head(2)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F,cnt_autogenerado_xDNI,cnt_dni_xAUTOGENERADO
0,111,123.0,25120054,ABAL DE MARTINEZ NARCISA,3501020ALMTN004,F,83,NaN,HTA,2019-03-26,NaT,NaT,NaT,NaN,NaN
1,111,418.0,23877208,ABAL ESPINOZA TOMAS,3809181ALEIT001,M,80,DM,NaN,2019-09-02,NaT,NaT,NaT,NaN,NaN

In [32]:
df = df.merge(dni_de_variosPACIENTE, on='DOC_PACIENTE', how='left')

In [33]:
clean_path= r'C:\Users\ANDRE\Desktop\Gladys (19 - 22)\cleaned data'
clean_path = clean_path.replace('\\','/')

In [34]:
cnt_deAUTOGENERADO_xDNI = df[df.cnt_autogenerado_xDNI.notnull()].iloc[:,0:13]

In [35]:
cnt_deDNI_xAUTOGENERADO = df[df.cnt_dni_xAUTOGENERADO.notnull()].iloc[:,0:13]

In [36]:
cnt_dePACIENTE_xDNI = df[df.cnt_paciente_xDNI.notnull()].iloc[:,0:13]

In [37]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\andre\anaconda3\lib\site-packages (3.1.9)

# Modificando nombres y dni

In [38]:
table = df.copy()

In [39]:
table = table.iloc[:,0:13]

In [40]:
# Modificando AUTOGENERADO, en funcion de unico DNI

In [41]:
nuevo_autogenerado = cnt_deAUTOGENERADO_xDNI.groupby('DOC_PACIENTE',as_index=False).AUTOGENERADO.first()

In [42]:
table = table.merge(nuevo_autogenerado, on='DOC_PACIENTE',how='left')

In [43]:
table['AUTOGENERADO'] = table.apply(lambda row: row.AUTOGENERADO_x if pd.isnull(row.AUTOGENERADO_y) else row.AUTOGENERADO_y, axis=1)

In [44]:
table.drop(columns=['AUTOGENERADO_x','AUTOGENERADO_y'], inplace=True)

In [45]:
# Modificando DNI, en funcion de AUTOGENERADO

In [46]:
nuevo_dni = cnt_deDNI_xAUTOGENERADO.groupby('AUTOGENERADO',as_index=False).DOC_PACIENTE.first()

In [47]:
table = table.merge(nuevo_dni, on='AUTOGENERADO', how='left')

In [48]:
table['DOC_PACIENTE'] = table.apply(lambda row: row.DOC_PACIENTE_x if pd.isnull(row.DOC_PACIENTE_y) else row.DOC_PACIENTE_y, axis=1)

In [49]:
table.drop(columns=['DOC_PACIENTE_x','DOC_PACIENTE_y'], inplace=True)

In [50]:
# Modificando Nombres, en funcion de DNI

In [51]:
table['DOC_PACIENTE'] = table['DOC_PACIENTE'].astype(float).astype(int).astype(str)

In [52]:
cnt_de_pacientes_por_dni = table.groupby('DOC_PACIENTE',as_index=False).PACIENTE.nunique()

In [53]:
cnt_de_pacientes_por_dni.PACIENTE.value_counts()

PACIENTE
1    19193
2     4057
3       11
Name: count, dtype: int64

In [54]:
mask_1 = cnt_de_pacientes_por_dni[cnt_de_pacientes_por_dni.PACIENTE == 2]['DOC_PACIENTE']

In [55]:
mask_2 = cnt_de_pacientes_por_dni[cnt_de_pacientes_por_dni.PACIENTE == 3]['DOC_PACIENTE']

In [56]:
tres_nombres_por_dni = table[table.DOC_PACIENTE.isin(mask_2)]

In [57]:
dos_nombres_por_dni = table[table.DOC_PACIENTE.isin(mask_1)]

In [58]:
excel_file_path= clean_path+'/inconsistencia_pacientes.xlsx'
with pd.ExcelWriter(excel_file_path, engine='xlsxwriter') as writer:
    tres_nombres_por_dni.to_excel(writer, sheet_name='tres_nombres_por_dni', index=False)
    dos_nombres_por_dni.to_excel(writer, sheet_name='dos_nombres_por_dni', index=False)
    cnt_deAUTOGENERADO_xDNI.to_excel(writer, sheet_name='cnt_deAUTOGENERADO_xDNI', index=False)
    cnt_deDNI_xAUTOGENERADO.to_excel(writer, sheet_name='cnt_deDNI_xAUTOGENERADO', index=False)
    cnt_dePACIENTE_xDNI.to_excel(writer, sheet_name='cnt_dePACIENTE_xDNI', index=False)

In [59]:
# Modificando lo nombres de los pacientes al mas largo, en funcion del DNI

In [60]:
table['len']=table.PACIENTE.str.len()

In [61]:
table.sort_values(['DOC_PACIENTE','len'],ascending=[True,False], inplace=True)

In [62]:
table.head(3)

,CENTRO,ADSCRITO,PACIENTE,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F,AUTOGENERADO,DOC_PACIENTE,len
22930,113,NaN,SOTO HUAYLLASI WILBERT,M,47,DM,NaN,NaT,NaT,2021-08-26,NaT,7402211SOHYW006,10002610,22
32788,123,NaN,ROMERO VALER PERCY,M,75,NaN,HTA,NaT,NaT,2021-06-22,NaT,4510261REVEP000,10019463,18
17549,111,NaN,ZANABRIA TRUJILLO ELIZABET,F,45,DM,NaN,2019-04-05,NaT,NaT,NaT,7404020ZATJE004,10019621,26

In [63]:
nuevo_nombre = table.groupby('DOC_PACIENTE',as_index=False).PACIENTE.first()

In [64]:
table = table.merge(nuevo_nombre, on='DOC_PACIENTE', how='left')

In [65]:
table.drop(columns=['PACIENTE_x'], inplace=True)

In [66]:
table.drop(columns=['len'], inplace=True)

In [67]:
table.rename(columns={'PACIENTE_y':'PACIENTE'}, inplace=True)

In [68]:
table[['DOC_PACIENTE','PACIENTE','AUTOGENERADO']].nunique()

DOC_PACIENTE    23261
PACIENTE        23258
AUTOGENERADO    23261
dtype: int64

In [69]:
aa = table.groupby('PACIENTE',as_index=False).DOC_PACIENTE.nunique()

In [70]:
mask_paciente = aa[aa.DOC_PACIENTE >= 2]['PACIENTE']

In [71]:
table[table.PACIENTE.isin(mask_paciente)].head(3)

,CENTRO,ADSCRITO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F,AUTOGENERADO,DOC_PACIENTE,PACIENTE
4235,111,NaN,M,75,NaN,HTA,2019-05-29,NaT,NaT,NaT,4312021QSHMA002,23808770,QUISPE HUAMAN AURELIO
4236,111,NaN,M,77,NaN,HTA,NaT,2020-12-23,NaT,NaT,4312021QSHMA002,23808770,QUISPE HUAMAN AURELIO
4237,111,NaN,M,77,NaN,HTA,NaT,NaT,2021-01-15,NaT,4312021QSHMA002,23808770,QUISPE HUAMAN AURELIO

In [72]:
# se pudo comprobar que el desfase entre DNI y paciente de 3 es por que son tres pacientes con el mismo nombre (homonimos)

In [73]:
table.head()

,CENTRO,ADSCRITO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F,AUTOGENERADO,DOC_PACIENTE,PACIENTE
0,113,NaN,M,47,DM,NaN,NaT,NaT,2021-08-26,NaT,7402211SOHYW006,10002610,SOTO HUAYLLASI WILBERT
1,123,NaN,M,75,NaN,HTA,NaT,NaT,2021-06-22,NaT,4510261REVEP000,10019463,ROMERO VALER PERCY
2,111,NaN,F,45,DM,NaN,2019-04-05,NaT,NaT,NaT,7404020ZATJE004,10019621,ZANABRIA TRUJILLO ELIZABET
3,111,NaN,F,47,DM,NaN,NaT,NaT,2021-04-19,NaT,7404020ZATJE004,10019621,ZANABRIA TRUJILLO ELIZABET
4,418,NaN,F,46,DM,NaN,NaT,NaT,2021-02-01,NaT,7404020ZATJE004,10019621,ZANABRIA TRUJILLO ELIZABET

In [74]:
table = table.loc[:,['CENTRO','ADSCRITO','DOC_PACIENTE','PACIENTE','AUTOGENERADO','SEXO','EDAD','MORB_1','MORB_2','2019_F','2020_F','2021_F','2022_F']]

In [75]:
table.sort_values('DOC_PACIENTE', inplace=True)

In [76]:
table.head(3)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F
0,113,NaN,10002610,SOTO HUAYLLASI WILBERT,7402211SOHYW006,M,47,DM,NaN,NaT,NaT,2021-08-26,NaT
1,123,NaN,10019463,ROMERO VALER PERCY,4510261REVEP000,M,75,NaN,HTA,NaT,NaT,2021-06-22,NaT
2,111,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,45,DM,NaN,2019-04-05,NaT,NaT,NaT

## Una sola columna de fecha

In [77]:
# Comprobando que cada entrada solo tenga una fecha

In [78]:
dates = table.iloc[:,9:]

In [79]:
dates['cnt_fechas'] = dates.notnull().sum(axis=1)

In [80]:
dates.cnt_fechas.value_counts()

cnt_fechas
1    74383
Name: count, dtype: int64

In [81]:
# Se observa que en todas las entradas solo hay una fecha

In [82]:
table.head(2)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F
0,113,NaN,10002610,SOTO HUAYLLASI WILBERT,7402211SOHYW006,M,47,DM,NaN,NaT,NaT,2021-08-26,NaT
1,123,NaN,10019463,ROMERO VALER PERCY,4510261REVEP000,M,75,NaN,HTA,NaT,NaT,2021-06-22,NaT

In [83]:
table['fecha']=table.iloc[:,9:].apply(lambda row: row[row.first_valid_index()], axis=1)

In [84]:
table.head(5)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,2019_F,2020_F,2021_F,2022_F,fecha
0,113,NaN,10002610,SOTO HUAYLLASI WILBERT,7402211SOHYW006,M,47,DM,NaN,NaT,NaT,2021-08-26,NaT,2021-08-26
1,123,NaN,10019463,ROMERO VALER PERCY,4510261REVEP000,M,75,NaN,HTA,NaT,NaT,2021-06-22,NaT,2021-06-22
2,111,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,45,DM,NaN,2019-04-05,NaT,NaT,NaT,2019-04-05
3,111,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,47,DM,NaN,NaT,NaT,2021-04-19,NaT,2021-04-19
4,418,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,46,DM,NaN,NaT,NaT,2021-02-01,NaT,2021-02-01

In [85]:
table.drop(columns=['2019_F','2020_F','2021_F','2022_F'], inplace=True)

In [86]:
table.head(4)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,fecha
0,113,NaN,10002610,SOTO HUAYLLASI WILBERT,7402211SOHYW006,M,47,DM,NaN,2021-08-26
1,123,NaN,10019463,ROMERO VALER PERCY,4510261REVEP000,M,75,NaN,HTA,2021-06-22
2,111,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,45,DM,NaN,2019-04-05
3,111,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,47,DM,NaN,2021-04-19

##  Todas las atenciones de cada paciente, se consideraran en el centro en el que estan adscritos
    Para pacientes sin centro adscrito, se considerará su adscripcion al primer centro al que fueron

In [87]:
pacientes_con_sin_adscripcion = table.groupby('DOC_PACIENTE',as_index=False).ADSCRITO.nunique()

In [88]:
pacientes_con_sin_adscripcion.ADSCRITO.value_counts()

ADSCRITO
0    20188
1     3073
Name: count, dtype: int64

In [89]:
# Se observa 20,188 pacientes que no tienen adscripcion.

In [90]:
table.sort_values(['DOC_PACIENTE','fecha'],inplace=True)

In [91]:
table.head(4)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,fecha
0,113,NaN,10002610,SOTO HUAYLLASI WILBERT,7402211SOHYW006,M,47,DM,NaN,2021-08-26
1,123,NaN,10019463,ROMERO VALER PERCY,4510261REVEP000,M,75,NaN,HTA,2021-06-22
2,111,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,45,DM,NaN,2019-04-05
4,418,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,46,DM,NaN,2021-02-01

In [92]:
pacientes_con_sin_adscripcion

      DOC_PACIENTE  ADSCRITO
0         10002610         0
1         10019463         0
2         10019621         0
3         10023981         0
4         10023982         0
...            ...       ...
23256      9950538         0
23257      9959321         0
23258      9961087         0
23259      9976515         0
23260      9994833         1

[23261 rows x 2 columns]

In [93]:
pac_con_adscripcion = pacientes_con_sin_adscripcion[pacientes_con_sin_adscripcion.ADSCRITO == 1]['DOC_PACIENTE']
pac_sin_adscripcion = pacientes_con_sin_adscripcion[pacientes_con_sin_adscripcion.ADSCRITO == 0]['DOC_PACIENTE']

In [94]:
pac_con_adscripcion.shape

(3073,)

In [95]:
pac_sin_adscripcion.shape

(20188,)

In [96]:
table.DOC_PACIENTE.nunique()

23261

In [97]:
con_adscripcion  = table[table.DOC_PACIENTE.isin(pac_con_adscripcion)]

In [98]:
sin_adscripcion  = table[table.DOC_PACIENTE.isin(pac_sin_adscripcion)]

In [99]:
con_adscripcion.loc[:, 'NUEVO_CENTRO'] = con_adscripcion.groupby('DOC_PACIENTE')['ADSCRITO'].transform('max')

C:\Users\ANDRE\AppData\Local\Temp\ipykernel_3636\2018811733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  con_adscripcion.loc[:, 'NUEVO_CENTRO'] = con_adscripcion.groupby('DOC_PACIENTE')['ADSCRITO'].transform('max')

In [100]:
sin_adscripcion.loc[:,'NUEVO_CENTRO'] = sin_adscripcion.groupby('DOC_PACIENTE')['CENTRO'].transform('first')

C:\Users\ANDRE\AppData\Local\Temp\ipykernel_3636\3114730906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sin_adscripcion.loc[:,'NUEVO_CENTRO'] = sin_adscripcion.groupby('DOC_PACIENTE')['CENTRO'].transform('first')

In [101]:
print(con_adscripcion.shape, sin_adscripcion.shape, table.shape)

(15550, 11) (58833, 11) (74383, 10)

In [102]:
data = pd.concat([con_adscripcion, sin_adscripcion], ignore_index=True)

In [103]:
data.sort_values(['DOC_PACIENTE','fecha'], inplace=True)

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74383 entries, 15550 to 15549
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CENTRO        74383 non-null  int64
 1   ADSCRITO      5763 non-null   float64
 2   DOC_PACIENTE  74383 non-null  object
 3   PACIENTE      74383 non-null  object
 4   AUTOGENERADO  74383 non-null  object
 5   SEXO          74383 non-null  object
 6   EDAD          74383 non-null  int64
 7   MORB_1        29375 non-null  object
 8   MORB_2        54844 non-null  object
 9   fecha         74383 non-null  datetime64[ns]
 10  NUEVO_CENTRO  74383 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 6.8+ MB

In [105]:
data.head(3)

,CENTRO,ADSCRITO,DOC_PACIENTE,PACIENTE,AUTOGENERADO,SEXO,EDAD,MORB_1,MORB_2,fecha,NUEVO_CENTRO
15550,113,NaN,10002610,SOTO HUAYLLASI WILBERT,7402211SOHYW006,M,47,DM,NaN,2021-08-26,113.0
15551,123,NaN,10019463,ROMERO VALER PERCY,4510261REVEP000,M,75,NaN,HTA,2021-06-22,123.0
15552,111,NaN,10019621,ZANABRIA TRUJILLO ELIZABET,7404020ZATJE004,F,45,DM,NaN,2019-04-05,111.0

In [106]:
data = data.sort_values(['DOC_PACIENTE','fecha'])

In [107]:
data['index'] = data.reset_index().index

In [108]:
data['year'] = data.fecha.dt.year

In [109]:
data['trimestre'] = data.fecha.dt.quarter

In [110]:
#DM

In [111]:
pacientes_con_dm = data.groupby('DOC_PACIENTE', as_index=False).MORB_1.count()

In [112]:
pacientes_con_dm = pacientes_con_dm[pacientes_con_dm.MORB_1>0]['DOC_PACIENTE']

In [113]:
dm = data[data.DOC_PACIENTE.isin(pacientes_con_dm)]

In [114]:
dm = dm[dm.MORB_1 == 'DM']

In [115]:
dm_n_r = dm.groupby(['DOC_PACIENTE','year'], as_index=False)['index'].first()

In [116]:
dm_n = dm_n_r.groupby('DOC_PACIENTE',as_index=False)['index'].first()

In [117]:
dm_n['N_R_C_SER'] = 'N'

In [118]:
dm_n.drop(columns='DOC_PACIENTE', inplace=True)

In [119]:
dm_n_r = dm_n_r.merge(dm_n, on ='index', how='left')

In [120]:
dm_n_r['N_R_C_SER'] = dm_n_r.N_R_C_SER.fillna('R')

In [121]:
dm_n_r.drop(columns=['DOC_PACIENTE','year'], inplace=True)

In [122]:
dm = dm.merge(dm_n_r, on='index', how='left')

In [123]:
dm['N_R_C_SER'] = dm.N_R_C_SER.fillna('C')

In [124]:
# HTA

In [125]:
pacientes_con_hta = data.groupby('DOC_PACIENTE', as_index=False).MORB_2.count()
pacientes_con_hta = pacientes_con_hta[pacientes_con_hta.MORB_2>0]['DOC_PACIENTE']
hta = data[data.DOC_PACIENTE.isin(pacientes_con_hta)]
hta = hta[hta.MORB_2 == 'HTA']
hta_n_r = hta.groupby(['DOC_PACIENTE','year'], as_index=False)['index'].first()
hta_n = hta_n_r.groupby('DOC_PACIENTE',as_index=False)['index'].first()
hta_n['N_R_C_SER'] = 'N'
hta_n.drop(columns='DOC_PACIENTE', inplace=True)
hta_n_r = hta_n_r.merge(hta_n, on ='index', how='left')
hta_n_r['N_R_C_SER'] = hta_n_r.N_R_C_SER.fillna('R')
hta_n_r.drop(columns=['DOC_PACIENTE','year'], inplace=True)
hta = hta.merge(hta_n_r, on='index', how='left')
hta['N_R_C_SER'] = hta.N_R_C_SER.fillna('C')

In [126]:
unique_dm_array = dm['DOC_PACIENTE'].unique()
unique_hta_array = hta['DOC_PACIENTE'].unique()

In [127]:
common_values = np.intersect1d(unique_dm_array, unique_hta_array)

In [128]:
common_values = common_values.tolist()

In [129]:
dm['MORB'] = 'DM'
hta['MORB'] = 'HTA'

In [130]:
dm_hta = pd.concat([dm, hta], ignore_index=True)

In [131]:
dm_hta = dm_hta.loc[:,['CENTRO','ADSCRITO','NUEVO_CENTRO','DOC_PACIENTE','AUTOGENERADO','PACIENTE','SEXO','EDAD','MORB','fecha','trimestre','N_R_C_SER']]

In [132]:
datos_2019 = dm_hta[dm_hta.fecha.dt.year == 2019]
datos_2020 = dm_hta[dm_hta.fecha.dt.year == 2020]
datos_2021 = dm_hta[dm_hta.fecha.dt.year == 2021]
datos_2022 = dm_hta[dm_hta.fecha.dt.year == 2022]

In [133]:
def mixtos(df):
    cantidad_morb = df.groupby('DOC_PACIENTE',as_index=False).MORB.nunique()
    paciente_con_dos_morb = cantidad_morb[cantidad_morb.MORB>1]
    paciente_con_dos_morb['mixto'] = 'mixto'
    paciente_con_dos_morb = paciente_con_dos_morb.loc[:,['DOC_PACIENTE','mixto']]
    df = df.merge(paciente_con_dos_morb, on='DOC_PACIENTE',how='left')
    return df

In [134]:
datos_2019 = mixtos(datos_2019)
datos_2020 = mixtos(datos_2020)
datos_2021 = mixtos(datos_2021)
datos_2022 = mixtos(datos_2022)

C:\Users\ANDRE\AppData\Local\Temp\ipykernel_3636\1583458447.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paciente_con_dos_morb['mixto'] = 'mixto'
C:\Users\ANDRE\AppData\Local\Temp\ipykernel_3636\1583458447.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paciente_con_dos_morb['mixto'] = 'mixto'
C:\Users\ANDRE\AppData\Local\Temp\ipykernel_3636\1583458447.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paciente_con_dos_morb['mixto'] = 'mixto'
C:\Users\ANDRE\AppData\Local\Temp\ipykernel_3636\1583458447.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paciente_con_dos_morb['mixto'] = 'mixto'

In [135]:
datos_2019.head(3)

,CENTRO,ADSCRITO,NUEVO_CENTRO,DOC_PACIENTE,AUTOGENERADO,PACIENTE,SEXO,EDAD,MORB,fecha,trimestre,N_R_C_SER,mixto
0,111,NaN,111.0,10019621,7404020ZATJE004,ZANABRIA TRUJILLO ELIZABET,F,45,DM,2019-04-05,2,N,NaN
1,418,NaN,418.0,10041439,6510061LECSM007,LOPEZ CHISTAMA MARDEN,M,53,DM,2019-09-11,3,N,NaN
2,418,NaN,418.0,10061482,4712080LOZBC001,LAZO ZAMBRANO DE MEDINA CONCEPCION ADELINA,F,71,DM,2019-01-04,1,N,mixto

In [136]:
datos = pd.concat([datos_2019, datos_2020, datos_2021, datos_2022], ignore_index=True)

In [137]:
datos.shape

(84219, 13)

In [138]:
print(datos_2019.shape, datos_2020.shape, datos_2021.shape, datos_2022.shape )

(19684, 13) (12573, 13) (25089, 13) (26873, 13)

In [139]:
datos['año']=datos.fecha.dt.year
datos['mes']=datos.fecha.dt.month_name()
datos['mes_numero'] = datos.fecha.dt.month

In [140]:
datos.head(3)

,CENTRO,ADSCRITO,NUEVO_CENTRO,DOC_PACIENTE,AUTOGENERADO,PACIENTE,SEXO,EDAD,MORB,fecha,trimestre,N_R_C_SER,mixto,año,mes,mes_numero
0,111,NaN,111.0,10019621,7404020ZATJE004,ZANABRIA TRUJILLO ELIZABET,F,45,DM,2019-04-05,2,N,NaN,2019,April,4
1,418,NaN,418.0,10041439,6510061LECSM007,LOPEZ CHISTAMA MARDEN,M,53,DM,2019-09-11,3,N,NaN,2019,September,9
2,418,NaN,418.0,10061482,4712080LOZBC001,LAZO ZAMBRANO DE MEDINA CONCEPCION ADELINA,F,71,DM,2019-01-04,1,N,mixto,2019,January,1

In [141]:
datos.to_csv(clean_path+'/datos.csv', index=False, encoding='latin-1')